/*  
Table of content styling
    1. Styles for headers (fonts, sizes, colors
    2. Header
    3. Body
    4. Main
    5. Footer
    6. Buttons and links
    7. Specific styles for each page
*/

/* 1. Styles for headers (fonts, sizes, colors etc.) */
h1  {
    font-family: 'Poppins', sans-serif;
    color: #501C65;
    font-size: 80px;
}

h2  {
    font-family: 'Poppins', sans-serif;
    color: #501C65;
    font-size: 30px;
}

h3  {
    font-family: 'Poppins', sans-serif;
    color: #501C65;
    font-size: 20px;
}

p   {
    font-family: 'Montserrat', sans-serif;
    color: #501C65;
    font-size: 16px;
}


/* Our color palette: 
    #501C65 (the dark purple provided by Michelle)
    #96AD8F (the green sage one)
    #AAA4CC (the lighter purple for "decor"/details, such as borders etc)
    #FFFFFF (white for containers etc. where you want other color than green as background) 
    
    Our Fonts: 
    Poppins - for headings (and logo?)
    Montserrat - main p font 

    LINK to Google Fonts <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap" rel="stylesheet">
    */ 
/*=======*/

/* 2. Header */
    /*2.1 Navigation bar*/

.container-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-width: 1440px;
    width: 100%;
}
.container-nav li {
    list-style: none;
}
.container-nav a {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.container-nav button {
    width: 200px;
}

.home {
    grid-column: 1/2;
}
.about {
    grid-column: 2/3;
}
.gallery {
    grid-column: 3/4;
}
.contact {
    grid-column: 4/5;
}

/*End of navigation bar*/

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #96AD8F;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #501C65;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* 3. Body */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #96AD8F;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* 4. Main */
main *{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* 5. Footer */
footer {
    background-color: #96AD8F;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 3px solid #501C65;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 500px;
    width: 100%;
}
.container-footer h3 {
    grid-column: 1/3;
    grid-row: 1/2;
}
.adress {
    grid-column: 1/2;
    grid-row: 2/3;
}
.phone-email {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* 6. Buttons and links */
.button {
    background-color: #501C65; 
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
    border-color: #AAA4CC;
}

.button:hover {
    background-color:#AAA4CC;
    transition: 0.8s;
}
.buttonsubmit {
    background-color: #96AD8F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 7. Styles for specific pages */

    /* 7.1 Index page */

/* Main info on index-page */
.container-mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
}
.container-mainInfo > div {
    max-width: 500px;
    width: 100%;
    margin: 20px;
}
.container-mainInfo img {
    max-width: 500px;
    width: 100%;
    border-radius: 6px;
}

/*End of main info on index-page */

/* 7.2 About page */

.page-container {
    width: 100%;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1400px;
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: flex-end;
}

.aboutus-txt {
    padding: 20px; 
    flex: 1;
}

.aboutus-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-right: auto; 
    margin-left: auto;    
}

.text-content h1 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.treatments-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 100%;
    margin-top: 30px;

}

.treatment {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex: 0 0 calc(33.33% - 10px);
    text-align: center;
    background-color: rgb(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
}

.treatment img {
    max-width: 100%;
    width: 60%;
    margin-top: 20px;
}

.treatment button {
    margin-bottom: 20px;
    align-items: center; 
}

.treatment p {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ourstory {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.ourstory-h2 h2 {
    margin-bottom: 10px;
    text-align: left; 
}

.ourstory-p p {
    margin-bottom: 20px;
}

.ourstory-p p:nth:child(2) {
    margin-top: 20px;
}

#bottom-image {
    background-image: url(../images/header-test.webp);
    background-color: #96AD8F;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0;
    text-align: center;
    width: 100%;
    height: auto;
}


.spacer {
    background-color: #96AD8F; 
    height: 80px; 
    width: 100%; 
}

/* 7.3 Gallery */

.container-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center ;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}


/* 7.4 Contact-page */

/* Main info on index-page */
.container-mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-mainInfo > div {
    max-width: 500px;
    width: 100%;
    margin: 20px;
}
.container-mainInfo img {
    max-width: 400px;
    border-radius: 6px;
}

/*End of main info on index-page */

.ContactUs {
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact-info, .contact-form {
    background-color:#96AD8F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-info h2, .contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
}
.textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.hover {
    background-color: #96AD8F;
}

